.a-logo {
  display: inline-block;
  height: 66px;
  vertical-align: top;
  width: 157px;
  background: url(../images/keycard-logo.svg);
  background-repeat: no-repeat;
  color: transparent;
  font-size: 0;
}