.o-teaser {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  @include respond(small) {
    flex-direction: row;
  }

  &__symbol {
    width: 48px;
  }

  &__content {
    margin-top: get-stack-spacing(s);

    @include respond(small) {
      margin-top: 0;
      padding-left: get-inline-spacing(l);
    }
  }
}