.c-whisperbox {
  padding: get-inset-spacing(l) 0;
  border-radius: $global-border-radius;
  background: url(../images/circles-background.jpg) no-repeat bottom center;
  background-color: get-layout-color(quite);

  @include respond(large) {
    padding: get-inset-spacing(xl) 0;
  }
}