.a-button {
  cursor: pointer;
  display: inline-block;
  padding: get-inset-spacing(m) get-inset-spacing(l);
  vertical-align: top;
  -webkit-appearance: none;
  border: 2px solid transparent;
  border-radius: $global-border-radius;
  background: linear-gradient(256.69deg, #0FF2D6 -11.72%, rgba(0, 187, 158, 0) 199.22%), #09D9B9;
  box-shadow: 0;
  color: get-color(unique, white);
  font-size: get-font(size);
  font-weight: bold;
  line-height: 1;
  text-align: center;

  &:hover {
    border-color: get-brand(primary);
    background: transparent;
    color: get-brand(primary);
  }

  // Ghost Button
  &--ghost {
    background: linear-gradient(259.27deg, rgba(255, 255, 255, 0.6) -11.72%, rgba(220, 222, 234, 0.6) 199.22%), #B9BCCB;;
    color: get-color(gray);

    &:hover {

    }
  }

  // Negative
  &--negative {
    background: get-color(unique, white);
    color: get-brand(primary);

    &:hover {
      border-color: get-color(unique, white);
      background: transparent;
      color: get-color(unique, white);
    }
  }

  &--rounded {
    border-radius: $global-rounded-border-radius;
  }
}