.a-logo {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 120px;
  background: url(../images/keycard-logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
  font-size: 0;

  @include respond(medium) {
    height: 66px;
    width: 157px;
  }
}