.c-spotlightbox {
  padding: get-inset-spacing(l) 0;
  border-radius: $global-border-radius;
  background: url(../images/circles-background-dark.jpg) no-repeat bottom center;
  background-color: get-color(blue);
  background-size: 100%;
  transition: background-size .5s;
  transition-delay: .5s;
  color: get-color(unique, white);

  @include respond(large) {
    padding: get-inset-spacing(xl) 0;
  }

  &.is-active {
    background-size: 150%;
  }

  .icon {
    fill: #fff;
  }

  a .icon:hover {
    opacity: .6;
  }

  &__item {
    height: 100%;
    padding: get-inset-spacing(m);
    border-radius: $global-border-radius;
    background: get-color(blue, light);
  }
  &__hint {
    color: get-color(blue, lighter);
    font-size: 1.4rem;
  }
}